@using Quiver.Models;

@{
    ViewBag.Title = "Quiveer - Plano de ação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="row">
        <div class="col-xs-8 ">
            <h1 class="titulo-opcao">
                <i class="zmdi zmdi-shield-check"></i> Gestão dos Planos de Ação
            </h1>
        </div>
        <div class="col-xs-4 text-right ">
            <ol class="breadcrumb" style="border-bottom:none;margin-bottom:0;padding:20px 20px 20px 0;">
                @* <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li> *@
                <li>@Html.ActionLink("Planos de Ação", "Index", "PlanoAcao")</li>
            </ol>
        </div>
    </div>
</section>


<section class="content">
    @Html.Partial("_CardFiltro")
    <div id="tabelas-plano-acoes">
        @Html.Partial("_Card", (PlanoAcaoCardVM) ViewBag.PlanosAcao)
    </div>
</section>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/Custom/planoAcao/tabelasFiltro.js"></script>
    <script type="text/javascript" src="~/Scripts/Custom/planoAcao/planoAcao.js"></script>
}
