<div class="card animated fadeIn">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h2> Lista de Empresas<small> Aqui estão todas as empresas que possuem conta no Quiver, cada empresa tem no mínimo um gestor.</small></h2>
            </div>
            <div class="col-md-4 text-right">
                <button type="button" class="btn btn-primary waves-effect" data-toggle="modal" data-target="#myEmpresaModal" onclick="adicionar();">
                    <i class="zmdi zmdi-plus" style="margin-right:5px"></i>Nova empresa
                </button>
            </div>
        </div>
    </div>
    @Html.Action("Pesquisar")
</div>








