<!-- Modal Inspeções -->
<div class="modal fade" id="modalHelpAvaliacoes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">O que é uma  inspeção?</h4>
            </div>
            <div class="modal-body">
                Inspeção é o conjunto de formulários que determinado usuário do tipo inspetor deve executar em uma unidade
                em seu smartphone utilizando o <a href="https://play.google.com/store/apps/details?id=com.hw.quiver" target="_blank">app Quiver</a> exclusivamente para android. O inspetor também pode
                fazer inspeções diretamente do aplicativo sem o agendamento prévio do gerente.
                <br class="p-t-10" />
                <br class="p-t-10" />
                Todas as inspeções são executadas nos smartphones de seus colaboradores, sem a necessidade de conexão com a internet para executa-las, apenas
                para baixa-las e envia-las ao gerente.


                <h4 class="c-green p-t-20"><i class="zmdi zmdi-minus p-r-5"></i>Inspeções finalizadas</h4>
                Inspeções finalizadas são as inspeções que foram executadas pelos colaboradores e enviadas aos gerentes para que eles possam
                analizar a sua pontuação, percentual de efetividade, localização, assinatura do responsável, e todos os respostas dos formulários atribuidas a cada item. Lembrando que aqui também veremos
                todas as fotos incluidas nos itens preenchidos na inspeção.

                <h4 class="c-blue p-t-20"><i class="zmdi zmdi-minus p-r-5"></i>Inspeções em andamento</h4>
                Inspeções em andamento são aquelas que forma agendadas e seu dia de execução ainda não chegou. É importante lembrar que o usuário só pode executar
                a inspeção agendada no exato dia em que ela foi marcada.

                <h4 class="c-red p-t-20"><i class="zmdi zmdi-minus p-r-5"></i>Inspeções finalizadas</h4>
                Inspeções atrasadas são aquelas que foram programadas para uma data que já passou, nesse caso o gestor tem 2 opções, deletar a inspeção
                ou remarca-la para outra data.

            </div>
            <div class="modal-footer">
                <div class="alert alert-info alert-dismissible p-t-5 p-b-5 " style="text-align: left;" role="alert">
                    <h5 class=""> Ainda em dúvida? Algo não funciona como deveria? Fale diretamente com o nosso atendimento.</h5>
                    Ligue ou envie um whatsapp para <i class="zmdi zmdi-phone p-r-5 p-l-5"></i>(79) 99924-5550 ou envie um email para <i class="zmdi zmdi-email p-r-5 p-l-5"></i> contato@helloworldsoft.com
                </div>
            </div>
        </div>
    </div>
</div>