<!-- Modal Inspeções Finalizadas-->
<div class="modal fade" id="modalHelpAvaliacoesFinalizadas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Quais os status de uma inspeção finalizadas?</h4>
            </div>
            <div class="modal-body">
                <h4 class="c-orange p-t-20"><i class="zmdi zmdi-minus p-r-5"></i>Inspeções Agendadas</h4>
                Inspeções finalizadas agendadas são criadas exclusivamente pelos gerentes na plataforma web do Quiveer e enviadas previamente para a agenda do usuário
                inspetor indicado para executar aquela inspeção.

                <h4 class="c-purple p-t-20"><i class="zmdi zmdi-minus p-r-5"></i>Inspeções não agendadas</h4>
                Inspeções finalizadas não agendadas são aquelas geradas exclusivamente pelo inspetor no app mobile do Quiver, elas podem
                ocorrer em casos onde o inspetor vizualizou a necessidade de execução de uma inspeção que não foi previamente agendada pelo
                seu gerente.
                <br class="p-t-10" />
                <br class="p-t-10" />
                Por exemplo, o técnico de segurança no trabalho tem uma inspeção agendada para os institores da unidade X
                e percebeu que necessita fazer outra inspeção que não foi previamente agendada nas lâmpadas dessa mesma unidade. Para que
                ele não tenha o trabalho de pedir para o gerente criar uma nova inspeção com os formulários da lâmpadas, ele mesmo
                já criar essa inspeção e faz a execução.

                <h4 class="c-indigo p-t-20"><i class="zmdi zmdi-minus p-r-5"></i>Inspeções conformes</h4>
                Inspeções conformes são aquelas que não possuem nenhum item com status de não conformidade marcado, explicando melhor,
                ao criar um item do tipo múltipla escolha ou objetivo em um formulário o gerente pode escolher se aquela alternativa é uma
                não conformide como na figura abaixo.

                <br />
                <br class="p-t-20" />
                <img src="~/Content/img/ajuda/ajuda01.png" style="width:600px;max-width:100%" />
                <br />
                <br class="p-t-20" />
                E se no momento da inspeção o usuário marcar a alternativa que é uma não conforme essa, inspeção deixa de ser uma inspeção
                conforme e passa a se tornar uma inspeção não conforme, pois pelo menos um de seus itens foi marcado como uma não conformidade.



                <h4 class="c-pink p-t-20"><i class="zmdi zmdi-minus p-r-5"></i>Inspeções não conformes</h4>
                Avalliações não conformes são exatamente o contrário de uma inspeção conforme, ou seja, possue
                pelo menos uma alternativa marcada em seus formulários
                que foi definida pelo gerente como não conforme. Olhe a definição de inspeções conformes para entender melhor.

            </div>

            <div class="modal-footer">
                <div class="alert alert-info alert-dismissible p-t-5 p-b-5 " style="text-align: left;" role="alert">
                    <h5 class=""> Ainda em dúvida? Algo não funciona como deveria? Fale diretamente com o nosso atendimento.</h5>
                    Ligue ou envie um whatsapp para <i class="zmdi zmdi-phone p-r-5 p-l-5"></i>(79) 99924-5550 ou envie um email para <i class="zmdi zmdi-email p-r-5 p-l-5"></i> contato@helloworldsoft.com
                </div>
            </div>

        </div>
    </div>
</div>

