
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contato do Quiver</title>
</head>
<body>
    <p>Nome: @ViewBag.Nome</p>
    <p>E-mail: @ViewBag.Email</p>
    <p>Mensagem: @ViewBag.Mensagem</p>
</body>
</html>
