<section class="content">
    <div class="col-lg-12">
        <div class="card ">
            <div class="card-header">
                <h4></h4>
            </div>
            @* Apenas um desses ficará visível no momento em que a consulta estiver realizada *@
            <div class="card-body card-padding">
                <div class="alert alert-danger" role="alert">
                    <h2><i class="zmdi zmdi-assignment-alert m-r-5"></i>Inspeção ainda não foi finalizada!</h2>
                    <p>
                        Esta inspeção ainda não foi finalizada. Para mais dúvidas
                        entre em contato com o nosso atendimento.  Ligue ou envie um whatsapp para
                        <i class="zmdi zmdi-phone p-r-5 p-l-5"></i>(79) 99924-5550 ou envie um email para
                        <i class="zmdi zmdi-email p-r-5 p-l-5"></i> contato@helloworldsoft.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
