<!-- Modal Inspeções - HELP aVALIADOR  -->
<div class="modal fade" id="modalHelpResponsavel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Responsável pela inspeção</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 m-t-40">
                        O responsável pela inspeção é a pessoa que autorizou que a inspeção fosse executada no local e horário definido. Seus dados são preenchidos exclusivamente no smartphone do inspetor.
                        <br class="p-t-10" />
                        <br class="p-t-10" />

                        É um item <strong>obrigatório</strong> de preencher em qualquer inspeção, porém caso o a inspetor não precise da autorização de nenhuma pessoa,
                        recomendamos que ele adicione a sua assinatura e os seus dados.
                    </div>
                    <div class="col-md-6" style="margin-top: -30px;">
                        <img src="http://quiveer.com/Content/img/quiver_mockup_android2.png" style="display:block;margin-left:auto;margin-right:auto;max-width:100%" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="alert alert-info alert-dismissible p-t-5 p-b-5 " style="text-align: left;" role="alert">
                    <h5 class=""> Ainda em dúvida? Algo não funciona como deveria? Fale diretamente com o nosso atendimento.</h5>
                    Ligue ou envie um whatsapp para <i class="zmdi zmdi-phone p-r-5 p-l-5"></i>(79) 99924-5550 ou envie um email para <i class="zmdi zmdi-email p-r-5 p-l-5"></i> contato@helloworldsoft.com
                </div>
            </div>
        </div>
    </div>
</div>
