<!-- Modal Inspeções - HELP resultados  -->
<div class="modal fade" id="modalHelpResultados" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Quais os dados apresentados na inspeção?</h4>
            </div>
            <div class="modal-body">

                A inspeção possue 3 informações básicas que são:
                <br />
                <br />
                <ul>
                    <li>Pontuação Maxima </li>
                    <li>Pontuação Efetuada </li>
                    <li>Percentual de efetividade </li>
                </ul>

                <h4 class="c-black p-t-20"><i class="zmdi zmdi-minus p-r-5"></i>Percentual de efetividade</h4>
                Cada alternativa em um item de um formulário possue uma pontuação, sendo que a pontuação máxima representam a somatória
                de todos os pontos possíveis de se marcar em uma inspeção.

                <h4 class="c-black p-t-20"><i class="zmdi zmdi-minus p-r-5"></i>Percentual de efetividade</h4>
                O percentual de efetividade é calculado de acordo a divisão da pontuação máxima sobre a pontuação encontrada. Sua cor é definida de acordo com
                a faixa representada na classificação do grupo que é criada de forma dinâmica no momento de criação do grupo.


                <h4 class="c-black p-t-20"><i class="zmdi zmdi-minus p-r-5"></i>Níveis de classificação de acordo com grupo</h4>
                Os níveis de classificação do grupo são determinados no seu momento de criação, para alterar seus valores
                percentuais ou nomes basta editar o grupo indo na opção de menu Grupos e selecionado o grupo que se deseja editar.

            </div>
            <div class="modal-footer">
                <div class="alert alert-info alert-dismissible p-t-5 p-b-5 " style="text-align: left;" role="alert">
                    <h5 class=""> Ainda em dúvida? Algo não funciona como deveria? Fale diretamente com o nosso atendimento.</h5>
                    Ligue ou envie um whatsapp para <i class="zmdi zmdi-phone p-r-5 p-l-5"></i>(79) 99924-5550 ou envie um email para <i class="zmdi zmdi-email p-r-5 p-l-5"></i> contato@helloworldsoft.com
                </div>
            </div>
        </div>
    </div>
</div>
