<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://homoquiver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>homoquiver.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HomoQuiver</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HomoQuiver</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="QuiverConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=qvdbsql01.database.windows.net;Initial Catalog=DbQuiver;User ID=AdQVRoot;Password=adm@Qu1v3r.hws" Name="data source=qvdbsql01.database.windows.net;user id=AdQVRoot;password=adm@Qu1v3r.hws;initial catalog=DbQuiver" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Quiver.Data.QuiverDbContext, Quiver.Data" MigrationConfiguration="Quiver.Data.Migrations.Configuration, Quiver.Data" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QuiverConnection-Web.config Connection String">
      <ParameterValue>data source=qvdbsql01.database.windows.net;user id=AdQVRoot;password=adm@Qu1v3r.hws;initial catalog=DbQuiver</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>