<div class="card animated fadeIn">
    <div class="card-header">
        <div class="row">
            <div class="col-md-9">
                <h2> Lista de Usuários<small> Existem dois tipos de perfis no Quiveer, o de gestor com acesso apenas a plataforma web e o de inspetor mobile com acesso apenas ao <a href="https://play.google.com/store/apps/details?id=com.hw.quiver" target="_blank"> app Quiveer </a> instalado em seu smartphone onde ele executa todas as inspeções agendadas para ele.</small></h2>
            </div>
            <div class="col-md-3 text-right">
                <button type="button" class="btn btn-primary waves-effect" data-toggle="modal" data-target="#manipularUsuarioModal" onclick="adicionar();">
                    <i class="zmdi zmdi-account-add" style="margin-right:5px"></i>Novo Usuário
                </button>
            </div>
        </div>
    </div>
    @Html.Action("Pesquisar")
</div>








