<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <table style="width:100%; border: 0;" align='center' cellpadding='0' cellspacing='0'>
        <tbody>
            @RenderBody()
            <tr>
                <td height='5'></td>
            </tr>
            <tr>
                <td align='center'>
                    <table align='center' class='col-600' width='660' border='0' cellspacing='0' cellpadding='0'>
                        <tbody>
                            <tr>
                                <td align='center' bgcolor='#2a3b4c'>
                                    <table class='col-600' width='660' align='center' border='0' cellspacing='0' cellpadding='0'>
                                        <tbody>
                                            <tr>
                                                <td height='33'></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table class='col1' width='183' border='0' align='left' cellpadding='0' cellspacing='0'>
                                                        <tbody>
                                                            <tr>
                                                                <td height='18'></td>
                                                            </tr>
                                                            <tr>
                                                                <td align='center'>
                                                                    <img style='display:block; line-height:0px; font-size:0px; border:0px;' class='images_style' src='http://s31.postimg.org/e97rlt8hj/icon_title.png' alt='img' width='156' height='136'>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    "<table class='col3_one' width='380' border='0' align='right' cellpadding='0' cellspacing='0'>
                                                        <tbody>
                                                            <tr align='left' valign='top'>
                                                                <td style='font-family: Raleway, sans-serif; font-size:20px; color:#f1c40f; line-height:30px; font-weight: bold;'>Precisa de ajuda? </td>
                                                            </tr>
                                                            <tr align='left' valign='top'>
                                                                <td style='font-family: Lato, sans-serif; font-size:14px; color:#fff; line-height:24px; font-weight: 300;'>
                                                                    Precisa de ajuda? Temos um time de profissionais para te ajudar a saber mais sobre o Quiveer e como extrair o máximo de produtividade e melhoria
                                                                    nas inespeções executadas pelo seus funcionários.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height='10'></td>
                                                            </tr>
                                                            <tr align='left' valign='top'>
                                                                <td>
                                                                    <table class='button' bgcolor='#2b3c4d' style="width: 80%;" border='0' cellpadding='0' cellspacing='0'>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td height='30' align='center' style='font-family: Open Sans, Arial, sans-serif; font-size:13px; color:#ffffff;'>
                                                                                    contato@helloworldsoft.com / (79) 99924-5550
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height='33'></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align='center'>
                    <table align='center' width='660' border='0' cellspacing='0' cellpadding='0'>
                        <tbody>
                            <tr>
                                <td align='center' bgcolor='#34495e' background='http://s31.postimg.org/9z5ey93qz/footer.jpg' height='185'>
                                    <table class='col-600' width='600' border='0' align='center' cellpadding='0' cellspacing='0'>
                                        <tbody>
                                            <tr>
                                                <td height='25'></td>
                                            </tr>
                                            <tr>
                                                <td align='center' style='font-family: Raleway, sans-serif; font-size:26px; font-weight: 500; color:#f1c40f;'>Siga-nos para descobrir as novidades.</td>
                                            </tr>
                                            <tr>
                                                <td height='25'></td>
                                            </tr>
                                        </tbody>
                                    </table><table align='center' style="width: 35%;" border='0' cellspacing='0' cellpadding='0'>
                                        <tbody>
                                            <tr>
                                                <td align='center' width='30%' style='vertical-align: top;'>
                                                    <a href='https://www.facebook.com/Quiveer/' target='_blank'> <img src='http://s31.postimg.org/yxzrsyl9z/facebook.png'> </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>