

    <li>
        @Html.ActionLink("Entrar", "Index", "Agenda",
        routeValues: null,
        htmlAttributes: new { id = "loginLink" })
    </li>

    <li>
        @Html.ActionLink("Cadastrar-se", "Register", "Account")
    </li>



