
@{
    ViewBag.Title = "Confirmação de cadastro enviada";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="lc-block toggled">
    <p>
        Sua conta foi criada com sucesso, para poder utilizá-la precisamos que você siga as instruçõe que enviamos para seu e-mail.
    </p>
</div>
