
@{
    ViewBag.Title = "Email de confirmação reenviado";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="lc-block toggled">
    <p>
        Seu e-mail ainda não foi confirmado, mas não se preocupe acabamos de te enviar um e-mail com as instruções para confirmação.
    </p>
</div>