@model Quiver.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Esqueceu sua senha?";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="container">
    @using (Ajax.BeginForm("ForgotPassword", "Account", null, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "onSuccess(data);", OnBegin = "onBeginEsqueciSenha()", OnComplete = "onCompleteEsqueciSenha()" }, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="col-md-6">
            <div class="card">
                <div class="recuperar-card-header">
                    <a href=@Url.Action("Index","Home")>
                        <img src="../Content/img/quiver_logo.png">  <h4>Quiver</h4>
                    </a>
                </div>
                <div class="card-body card-padding p-t-5" style="text-align: left;">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <h2 class="text-left m-t-0 p-b-10">Recuperar senha</h2>

                    @* Email do usuário *@
                    <div class="form-group fg-float m-b-0  col-md-12" id="usuario-email">
                        <div class="fg-line">
                            @Html.TextBoxFor(m => m.Email, new { @class = "input-sm form-control fg-input", @id = "usuario-input-email", @autocomplete = "off", @onkeyup = "validarEmailUsuario()" })
                            <label class="fg-label">Email da sua conta</label>
                        </div>
                        <small class="help-block m-b-5" id="mensagem-erro-email" style="visibility:hidden">Email inválido.</small>
                    </div>

                    <div class="col-md-12 row">
                        <p class="m-b-10 " style="text-align:left">Um e-mail será enviado para o endereço acima contendo instruções para redefinir sua senha ao clicar no botão abaixo:</p>
                    </div>
                    <div class="form-group p-l-5 m-b-0">
                        <div class="text-left">
                            <button type="submit" id="btnEnviarEmail" class="btn btn-primary waves-effect " disabled>
                                <i class="zmdi zmdi-rotate-right zmdi-hc-spin" id="icon-enviar" style="display:none"></i> Envie-me as instruções</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    }
</div>

@section Scripts {
    <script type="text/javascript">
        function onSuccess(data) {
            swal({
                text: "Verifique o seu email e caso você não tenha recebido nosso email automático entre em contato pelo email contato@helloworldsoft.com ou pelo telefone (79) 98149-8063.",
                title: "<i class='zmdi zmdi-email animated bounceIn mdc-text-green-700' style='font-size:90px'></i>  <h1 style='margin:0px' class='mdc-text-green-700'>Email enviado</h1>",
                confirmButtonColor: "#1976D2",
                confirmButtonText: "Confirmar",
                html: true
            }, function () {
                window.location.href = 'http://quiveer.com/';
            });
        }

        /* Validações */
        function validarEmailUsuario() {
            var resposta = validarEmail('usuario-input-email', '#usuario-email', '#mensagem-erro-email');
            if (resposta == true) {
                $('#btnEnviarEmail').prop("disabled", false);
            }
            else {
                $('#btnEnviarEmail').prop("disabled", true);
            }

        }

        function onBeginEsqueciSenha() {
            $("#btnEnviarEmail").prop("disabled", true);
            $("#icon-enviar").css('display', 'inline-block');
        }

        function onCompleteEsqueciSenha() {
            $("#btnEnviarEmail").prop("disabled", false);
            $("#icon-enviar").css('display', 'none');
        }
    </script>
}

