@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="container">
    <div class="col-md-6">
        <div class="card" style="margin-top:150px">

            <div class="login-card-header m-0">
                <img src="../Content/img/quiver_logo.png">  <h4>Quiver</h4>
            </div>

            <div class="card-body card-padding" style="text-align:center">

                <span class="zmdi-hc-stack zmdi-hc-lg  zmdi-hc-5x">
                    <i class="zmdi zmdi-circle zmdi-hc-stack-2x" style="color:green"></i>
                    <i class="zmdi zmdi-thumb-up zmdi-hc-stack-1x zmdi-hc-inverse"></i>
                </span>
                
                 <h3 class="c-green"> Senha resetada com sucesso!</h3> <br />
               
                 <h4  style="text-align:justify">
                    Pronto, sua senha já foi resetada e você já pode realizar o login. </h4>
                     <p  style="text-align:justify">Caso sua conta seja do tipo <strong>gestor</strong> basta
                     @Html.ActionLink("clicar aqui", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }), 
                    porém caso sua conta seja do tipo <strong>inspetor</strong> basta realizar o login no <a href="https://play.google.com/store/apps/details?id=com.hw.quiver" target="_blank">app</a> mobile do Quiver.
                </p>
            </div>
        </div>
    </div>
</div>
