@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Acesso</title>
</head>
<body>
    <div class="row">
        <table width="600" border='0' align='center' cellpadding='0' cellspacing='0'>
            <tbody>
                <tr>
                    <td align='center'>
                        <table class='col-600' width='660' border='0' align='center' cellpadding='0' cellspacing='0'>
                            <tbody>
                                <tr>
                                    <td align='center' valign='top' background='http://quiveer.com/content/img/estoque.jpg' bgcolor='#66809b' style='background-size:cover; background-position:top;' height='400px'>
                                        <table class='col-600' width='600' height='400' border='0' align='center' cellpadding='0' cellspacing='0'>
                                            <tbody>
                                                <tr>
                                                    <td height='40'></td>
                                                </tr>
                                                <tr>
                                                    <td align='center' style='line-height: 0;'>
                                                        <img style='display:block; line-height:0; font-size:0; border:0;' src='https://s1.postimg.org/281q5s1wcf/22054627_1450882621663188_1516524833_n.png' width='109' height='auto' alt='logo'>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align='center' style='font-family:raleway, sans-serif; font-size:37px; color:#ffffff; line-height:24px; font-weight: bold; letter-spacing: 7px;'>
                                                        Cadastrar <span style='font-family: raleway, sans-serif; font-size:37px; color:#ffffff; line-height:39px; font-weight: 300; letter-spacing: 7px;'>Senha</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align='center'>
                        <table class='col-600' width='660' border='0' align='center' cellpadding='0' cellspacing='0' style='margin-left:20px; margin-right:20px; border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;'>
                            <tbody>
                                <tr>
                                    <td height='35'></td>
                                </tr>
                                <tr>
                                    <td align='center' style='font-family:raleway, sans-serif; font-size:22px; font-weight: bold; color:#2a3a4b;'> Você já foi cadastrado no sistema Quiver, para criar sua senha clique no link abaixo:</td>
                                </tr>
                                <tr>
                                    <td height='10'></td>
                                </tr>
                                <tr>
                                    <td align='center' style='font-family:lato, sans-serif; font-size:14px; color:#757575; line-height:24px; font-weight: 300;'>
                                        <a href="http://quiver...?id=234832h384rhd&token=sdfuhdsufhd"> href="http://quiver...?id=234832h384rhd&token=sdfuhdsufhd </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height='5'></td>
                </tr>
                <tr>
                    <td align='center'>
                        <table align='center' class='col-600' width='660' border='0' cellspacing='0' cellpadding='0'>
                            <tbody>
                                <tr>
                                    <td align='center' bgcolor='#2a3b4c'>
                                        <table class="col-600" width='660' align='center' border='0' cellspacing='0' cellpadding='0'>
                                            <tbody>
                                                <tr>
                                                    <td height='33'></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table class='col1' width='183' border='0' align='left' cellpadding='0' cellspacing='0'>
                                                            <tbody>
                                                                <tr>
                                                                    <td height='18'></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align='center'>
                                                                        <img style='display:block; line-height:0; font-size:0; border:0;' class='images_style' src='http://s31.postimg.org/e97rlt8hj/icon_title.png' alt='img' width='156' height='136'>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table class='col3_one' width='380' border='0' align='right' cellpadding='0' cellspacing='0'>
                                                            <tbody>
                                                                <tr align='left' valign='top'>
                                                                    <td style='font-family:raleway, sans-serif; font-size:20px; color:#f1c40f; line-height:30px; font-weight: bold;'>Precisa de ajuda? </td>
                                                                </tr>
                                                                <tr align='left' valign='top'>
                                                                    <td style='font-family:lato, sans-serif; font-size:14px; color:#fff; line-height:24px; font-weight:300;'>
                                                                        Precisa de ajuda? Temos um time de profissionais para te ajudar a saber mais sobre o Quiveer e como extrair o máximo de produtividade e melhoria na auditórias e inspeções executadas pelo seus funcionários.
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td height='10'></td>
                                                                </tr>
                                                                <tr align='left' valign='top'>
                                                                    <td>
                                                                        <table class='button' bgcolor='#2b3c4d' width='80%' border='0' cellpadding='0' cellspacing='0'>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td height='30' align='center' style='font-family: open sans, arial, sans-serif; font-size:13px; color:#ffffff;'>

                                                                                        contato@helloworldsoft.com / (79) 99924-5550

                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height='33'></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align='center'>
                        <table align='center' width='660' border='0' cellspacing='0' cellpadding='0'>
                            <tbody>
                                <tr>
                                    <td align='center' bgcolor='#34495e' background='http://s31.postimg.org/9z5ey93qz/footer.jpg' height='185'>
                                        <table class='col-600' width='600' border='0' align='center' cellpadding='0' cellspacing='0'>
                                            <tbody>
                                                <tr>
                                                    <td height='25'></td>
                                                </tr>
                                                <tr>
                                                    <td align='center' style='font-family: ' raleway', sans-serif; font-size:26px; font-weight 500; color:#f1c40f;'>Siga-nos para descobrir as novidades.</td>
                                                </tr>
                                                <tr>
                                                    <td height='25'></td>
                                                </tr>
                                            </tbody>
                                        </table><table align='center' width='35%' border='0' cellspacing='0' cellpadding='0'>
                                            <tbody>
                                                <tr>
                                                    <td align='center' width='30%' style='vertical-align: top;'>
                                                        <a href='https://www.facebook.com/helloworldsoft/?fref=ts' target='_blank'> <img src='http://s31.postimg.org/yxzrsyl9z/facebook.png'> </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    @**
        <h2>Olá,</h2>
        <br />
        <p style="font-size:18px">
            Você foi cadastrado no sistema Quiver, para criar sua senha clique no link abaixo:
        </p>
        <p>
            <a href="http://quiver...?id=234832h384rhd&token=sdfuhdsufhd">Cadastrar senha</a>
        </p>*
    *@


</body>
</html>
